<div id="title1">Music Album </div>
<div id= "lazy_loader_infinite" class="infinite-scroll-parent">
    <% @records.each do  |record|%>
        <div class="infinite-scroll"><%= record.album %></div>
    <% end %>
</div>
